<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shorterer</title>
</head>

<body>
<div class="container">

    <h1>Let's try!</h1>

    <form method="post" class="uper">
        {% csrf_token %}

        {{ form.long_url }}

        <input type="submit" value="Convert" class="button">
    </form>
    <div class="response">
        <span>{{ url }}</span>
        <span>{{ item }}</span>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>